<script src=""></script>
<form method="POST">
    Login:<input type="text" id="nome"><br>
    E-mail:<input type="text" id="email"><br>
    Senha:<input type="password" id="senha"><br>
    <input type="submit" value="Cadastrar" onclick="">
</form>